# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de configuración sensibles
*.env
.env.*

# Archivos de base de datos locales
*.sqlite3

# Archivos de logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Config de VSCode u otros editores
.vscode/
.idea/

# Archivos de migraciones automáticas
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.log
*/migrations/*.sqlite3

# Archivos de Django
db.sqlite3
staticfiles/
media/

# Archivos de compilación frontend (si usas React/Vue)
node_modules/
build/
dist/
